Validador/XML_XSD/xsdPedidos.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="pedido" type="pedidoType" />
  <xsd:complexType name="pedidoType">
    <xsd:sequence>
      <xsd:element name="cliente" type="clienteType" />
      <xsd:element name="itens_pedido" type="itens_pedidoType" />
    </xsd:sequence>
    <xsd:attribute name="numero" type="xsd:int" />
  </xsd:complexType>
  <xsd:complexType name="itens_pedidoType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="item" type="itemType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="itemType">
    <xsd:sequence>
      <xsd:element name="produto" type="xsd:string" />
      <xsd:element name="quantidade" type="xsd:int" />
      <xsd:element name="preco_unit" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="clienteType">
    <xsd:sequence>
      <xsd:element name="razao_social" type="xsd:string" />
      <xsd:element name="cnpj" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>